body{
  margin: 0px;
}

*{
  box-sizing: border-box;
}
input{
  width:100%;
  display: block;
  width: 98%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(102, 175, 233, .6);
}

input.error,select.error, textarea.error {
  border-color: #ff0c20;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(255, 12, 32, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(255, 12, 32, .6);
}

input.success,select.success,textarea.success{
  border-color: #00c133;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(0, 190, 50, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(0, 190, 50, .6);
}

input::-moz-placeholder{
  color: #999;
  opacity: 1;
}

input:-ms-input-placeholder{
  color: #999;
}

input::-webkit-input-placeholder{
  color: #999;
}

input::-ms-expand{
  background-color: transparent;
  border: 0;
}

input[disabled],input[readonly],fieldset[disabled]{
  background-color: #eee!important;
  opacity: 4;
}

input[disabled],fieldset[disabled]{
  cursor: not-allowed!important;
}
.input-error-alert {
    border: 1px solid #f43325;
    border-radius: 4px;
    background-color: #ffcccc;
    padding: 4px 8px;
    width: 98%;
    margin: 6px 0;
  }
.container{
  clear: both;
  display: table;
  width: 100%;
}

.container:before, .container:after{
  content: "";
  display: table;
  clear: both;
}

.row:after, .row:before, .row-padding:after, .row-padding:before{
  content: "";
  display: table;
  clear: both;
}

.row-padding .col{
  padding: 0 8px
}

.col{
  float: left;
  width: 100%;
}

.col.s1{
  width: 8.33333%
}

.col.s2{
  width: 16.66666%
}

.col.s3{
  width: 24.99999%
}

.col.s4{
  width: 33.33333%
}

.col.s5{
  width: 41.66666%
}

.col.s6{
  width: 49.99999%
}

.col.s7{
  width: 58.33333%
}

.col.s8{
  width: 66.66666%
}

.col.s9{
  width: 74.99999%
}

.col.s10{
  width: 83.33333%
}

.col.s11{
  width: 91.66666%
}

.col.s12{
  width: 99.99999%
}

@media (min-width: 601px)
  .col.m1{
    width: 8.33333%

  }
      .col.m2{
        width: 16.66666%
  }

  .col.m3{
    width: 24.99999%
  }

  .col.m4{
    width: 33.33333%
  }

  .col.m5{
    width: 41.66666%
  }

  .col.m6{
    width: 49.99999%
  }

  .col.m7{
    width: 58.33333%
  }

  .col.m8{
    width: 66.66666%
  }

  .col.m9{
    width: 74.99999%
  }

  .col.m10{
    width: 83.33333%
  }

  .col.m11{
    width: 91.66666%
  }

  .col.m12{
    width: 99.99999%
  }

@media (min-width:993px)
  .col.l1{
    width: 8.33333%

  }
      .col.l2{
        width: 16.66666%
  }

  .col.l3{
    width: 24.99999%
  }

  .col.l4{
    width: 33.33333%
  }

  .col.l5{
    width: 41.66666%
  }

  .col.l6{
    width: 49.99999%
  }

  .col.l7{
    width: 58.33333%
  }

  .col.l8{
    width: 66.66666%
  }

  .col.l9{
    width: 74.99999%
  }

  .col.l10{
    width: 83.33333%
  }

  .col.l11{
    width: 91.66666%
  }

  .col.l12{
    width: 99.99999%
  }
